

.dropDownMenuContainer{
  display: none;
  position: absolute;
  bottom: 2.5rem;
  background-color: rgb(43, 43, 43);
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px;
  z-index: 10;
  min-width: 10rem;
  border-radius: 4px;
  overflow-x: hidden;
  max-height: 14rem;
  overflow-y: auto;
}

.dropDownMenuItem{
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--textColor);
}

.dropDownMenuItem:hover{
  background-color:  rgba(173, 173, 173, 0.2);
}